{
	# (valfritt) global e-post för ACME
	# email {$ACME_EMAIL}
	# Låt Caddy sköta https-redirects själv
}

# www -> apex
{$DOMAIN_WWW} {
	redir https://{$DOMAIN_MAIN}{uri}
}

# Apex -> app
{$DOMAIN_MAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
	reverse_proxy app:80
}

# Demo-subdomän -> app_demo
{$DOMAIN_DEMO} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
	reverse_proxy app_demo:80
}
