{
	# email {$ACME_EMAIL}
}

{$DOMAIN_WWW} {
	redir https://{$DOMAIN_MAIN}{uri}
}

{$DOMAIN_MAIN} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
	reverse_proxy app:80
}

{$DOMAIN_DEMO} {
	encode zstd gzip
	header {
		Strict-Transport-Security "max-age=31536000; includeSubDomains; preload"
		X-Content-Type-Options "nosniff"
		Referrer-Policy "strict-origin-when-cross-origin"
	}
	reverse_proxy app_demo:80
}
